.div1 {
  background-color: #ffcc00;
  color: #545454;
  margin-left: 20px
  margin-right: 20px;
}

.div2 {
  background-color: #ff9900;
  color: #545454;
  margin-left: 20px
  margin-right: 20px;
}
body {
  background-color: #545454;
}